APP_PORT=3000
DB_CONNECTION_STRING="postgres://deno_pim@deno-pim_db_1:5432/deno_pim"
ACCESS_TOKEN_PRIVATE="supersecret"
ACCESS_TOKEN_EXPIRES_IN=3600
REFRESH_TOKEN_EXPIRES_IN=36000
APP_DB=deno_pim
APP_DB_USER=deno_pim
APP_DB_PASSWORD=secret
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
OTEL_RESOURCE_ATTRIBUTES="service.name=deno-pim,service.version=1.0.0"
